.wrapper{
  width: 100%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  color: #929292;
}
.nodataImg-img{
  width: 200px;
  height: 200px;
  margin: 30px;
}